div {
    font-family:Roboto,arial;
}

.header-image {
    width: 100%;
    max-height: 480px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-top {
    display: flex;
    align-items: center;
}

.container {
    position:relative;
    text-align:center;
    top:175px;
    color:white;
}

.intro-text {
    font-size:48px;
    font-weight:bold;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    color: white;
    z-index: 1;
    margin-top: -400px;
}

.dashboard-button {
    flex: 0 0 auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.5s;
}

.dashboard-text {
    color: white;
    font-size:20px;
    font-weight:bold;
}

.name {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.portfolio-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    top: 32px;
}

.dashboard-button:hover .menu-container {
    opacity: 1;
}

.portfolio-heading,
.portfolio-body,
.portfolio-paragraph,
.portfolio-paragraph2 {
    position: relative;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 32px;
}

.portfolio-paragraph2 {
    margin-top: 32px;
}

.portfolio-text {
    font-weight: bold;
    text-decoration: underline;
}

.portfolio-heading {
    font-weight: bold;
    text-decoration: underline;
}

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transition: opacity 0.5s;
    position: fixed;
}

.menu-container:hover {
    opacity: 1;
}

.menu-page {
    display: flex;
    justify-content: start;
    position: relative;
    top: 0;
    width: 300px;
    height: 1000px;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 10px;
}

.menu-overlay {
    z-index: 9999;
    margin: 30px;
    background: white;
}

.home-page,
.safety-page,
.cutoff-page {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header-top {
    position:fixed;
}

.home-page:hover, .safety-page:hover, .cutoff-page:hover {
    opacity:0.7;
}

@media only screen and (max-width: 768px) {
    .portfolio-container {
        padding: 0 10px;
    }

    .portfolio-heading,
    .portfolio-body,
    .portfolio-paragraph,
    .portfolio-paragraph2 {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 15px;
    }

    .intro-text {
        font-size: 36px;
        margin-top: -300px;
    }
}