div {
    font-family:Roboto,arial;
}

.header-image {
    position:absolute;
    left:0;
    top:0;
    width:1903px;
    height:480px;
    object-fit:cover;
    object-position:center;
}

.kineticstatic-image {
    position:absolute;
    top:448px;
    left:192px;
}

.trignometry-image {
    position:absolute;
    top:256px;
    left:192px;
}

.coefficient-image {
    position:absolute;
    top:448px;
    left:192px;
    width:576px;
}

.normal-image {
    position:absolute;
    top:128px;
    left:192px;
}

.header-top {
    position:fixed;
}

.container {
    position:relative;
    text-align:center;
    top:175px;
}

.intro-text {
    font-size:48px;
    font-weight:bold;
    color:white;
}

.dashboard-button {
    position:relative;
    top:-50px;
    border:none;
    background-color:transparent;
    cursor:pointer;

    transition: opacity 0.5s;
}

.dashboard-text {
    color: black;
    font-size:20px;
    font-weight:bold;
}

.dashboard-button:hover .menu-container {
    opacity:1;
}

.name {
    position:relative;
    color:black;
    left:136px;
    top:-94px;
    font-weight:bold;
    font-size:20px;
}

.portfolio-container {
    width:1000px;
    position:absolute;
    left:500px;
    top:150px;
}

.introduction-text {
    position:relative;
    top:384px;
    font-size:20px;
    line-height:32px;
    font-weight:bold;
}

.portfolio-text {
    position:relative;
    top:400px;
    font-size:20px;
    line-height:32px;
    font-weight:bold;
    text-decoration:underline;
}

.portfolio-text2 {
    position:relative;
    font-size:20px;
    line-height:32px;
    top:432px;
}

.portfolio-text3 {
    position:absolute;
    font-size:20px;
    line-height:32px;
    top:128px;
}

.portfolio-text4 {
    position:relative;
    font-size:20px;
    line-height:32px;
    top:324px;
}

.portfolio-text8 {
    position:relative;
    font-size:20px;
    line-height:32px;
    top:868px;
}

.portfolio-text5 {
    position:relative;
    font-size:20px;
    line-height:32px;
    top:7864px;
}

.portfolio-text6 {
    position:relative;
    top:7476px;
}

.portfolio-text7 {
    position:relative;
    top:508px;
}

.portfolio-text9 {
    position:relative;
    top:928px;
}

.portfolio-text13 {
    position:relative;
    top:32px;
}

.portfolio-text34 {
    text-decoration:underline;
}

.portfolio-text10, .portfolio-text11, .portfolio-text12 {
    position:relative;
    top:960px;
}

.portfolio-text11 {
    top:1080px;
}

.portfolio-text12 {
    top:1696px;
}

.portfolio-text14 {
    position:relative;
    top:544px;
}

.portfolio-text15 {
    position:relative;
    top:32px;
}

.portfolio-text16 {
    position:relative;
    top:64px;
}

.portfolio-text17 {
    position:relative;
    top:96px;
}

.portfolio-text18 {
    position:relative;
    top:32px;
}

.portfolio-text19 {
    position:relative;
    top:64px;
}

.portfolio-text20 {
    position:relative;
    top:96px;
}

.portfolio-text21 {
    position:relative;
    top:592px;
}

.portfolio-text23 {
    position:relative;
    top:32px;
}

.portfolio-text24 {
    position:relative;
    top:576px;
}

.portfolio-text25 {
    position:relative;
    top:608px;
}

.portfolio-text26 {
    position:relative;
    top:32px;
}

.portfolio-text27 {
    position:relative;
    top:32px;
}

.strong-text1 {
    position:relative;
    top:64px;
}

.strong-text2 {
    position:relative;
    top:128px;
}

.portfolio-text28 {
    position:relative;
    top:96px;
}

.portfolio-text29 {
    position:relative;
    top:160px;
}

.portfolio-text31 {
    position:relative;
    top:192px;
}

.portfolio-text33 {
    position:relative;
    top:2560px;
    text-decoration:underline;
}

.portfolio-text35 {
    position:relative;
    top:2592px;
}

.portfolio-text36 {
    position:relative;
    top:2628px;
}

.small-text {
    font-size:14px;
    display:inline-block;
}

.airplane-picture {
    position:absolute;
    top:80px;
    left:252px;
    width:500px;
}

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color:white;
    opacity:0;
    transition: opacity 0.5s;
    position:fixed;
}

.menu-container:hover {
    opacity:1;
}

.menu-page {
    display:flex;
    justify-content:start;
    position:relative;
    top:0;
    width:300px;
    height:1000px;
    flex-direction:column;
    margin-left:40px;
    margin-top:10px;
}

.menu-overlay {
    z-index: 9999;
    margin: 30px;
    background: white;
}

.home-page, .physics-page, .safety-page, .graphic-page, .animation-page, .audio-page, .modelling-page, .logo-page {
    text-decoration:none;
    color:black;
    font-weight:bold;
}

.home-page, .safety-page, .graphic-page, .audio-page, .modelling-page, .animation-page, .logo-page, .physics-page {
    font-weight:bold;
}

.air-button, .mass-button, .friction-button, .aerodynamics-button {
    position:relative;
    top:9750px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:20px;
    padding-left:20px;
    background-color:white;
    font-size:large;
}

.air-paragraph, .mass-paragraph, .friction-paragraph, .aerodynamics-paragraph {
    text-decoration:none;
    color:black;
}

.mass-button {
    margin-right:150px;
}

.mass-button {
    left:100px;
}

.friction-button, .air-button {
    margin-right:50px;
}

.grid {
    border-color:black;
    border-style:solid;
    border-width:1px;
    position:relative;
    top:7848px;
    height:100px;
    width:296px;
    left:250px;
    height:170px;
}

.box1, .box3, .box5, .box7, .box9 {
    border-color:black;
    border-style:solid;
    border-width:1px;
    position:relative;
    width:152px;
}

.box2, .box4, .box6, .box8, .box10 {
    border-color:black;
    border-style:solid;
    border-width:1px;
    position:relative;
    left:154px;
    width:140px;
}

.box2 {
    top:-34px;
}

.box3 {
    top:-34px;
}

.box4 { 
    top:-68px;
}

.box5 {
    top:-68px;
}

.box6 {  
    top:-102px;
}

.box7 {
    top:-102px;
}

.box8 { 
    top:-136px;
}

.box9 {
    top:-136px;
}

.box10 {
    top:-170px;
}

.text1, .text2 {
    font-weight:bold;
}

.text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10 {
    font-size:14px;
    padding-left:6px;
}

.text1, .text2 {
    background-color:yellow;
}

.source-text {
    font-size:16px;
}

.link {
    position:relative;
    top:7444px;
    font-size:16px;
}

.the-link {
    color:blue;
}

.video-link {
    position:relative;
    left:380px;
    top:6972px;
}

.youtube-image {
    width:100px;
}

.description-text {
    position:relative;
    top:288px;
    left:296px;
    font-size:16px;
}

.home-page:hover, .safety-page:hover, .graphic-page:hover, .logo-page:hover, .audio-page:hover, .modelling-page:hover, .animation-page:hover, .physics-page:hover {
    opacity:0.7;
}